@import 'compass';

$light-color: #EAE486;

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
	overflow: hidden;
  background-color: rgba(240,48,51,1);
  @include filter-gradient(#f03033, #690000, horizontal);
  @include background-image(radial-gradient(center, ellipse cover, rgba(240,48,51,1) 0%, rgba(105,0,0,1) 100%));
    
  h1 {
    font-family: 'Great Vibes', cursive;
    font-weight: 100;
    color: #FFFFFF;
    position: absolute;
    left: 7%;
    top: 2%;
    font-size: 14vw;
    opacity: 0.8;
    @include text-shadow(1px 1px 20px rgba(#FFFFFF, 0.8));
    margin: 0;
  }

	.container {
		position: absolute;
		padding: 0;
		top: calc(50% - (420px / 2));
		left: calc(50% - (380px / 2));
    min-width: 380px;
    height: 430px;
    margin: 50px auto 0;
    
    * {
      position: absolute;
    }
    
    .star {
      top: 5px;
      left: calc(50% - 26px);
      display: block;
      color: red;
      width: 0px;
      height: 0px;
      border-right:  25px solid transparent;
      border-bottom: 17px  solid #F8CD13;
      border-left:   25px solid transparent;
      -moz-transform:    rotate(35deg);
      -webkit-transform: rotate(35deg);
      -ms-transform:     rotate(35deg);
      -o-transform:      rotate(35deg);
    
      &:before {
         border-bottom: 20px solid #F8CD13;
         border-left: 7px solid transparent;
         border-right: 7px solid transparent;
         position: absolute;
         height: 0;
         width: 0;
         top: -14px;
         left: -16px;
         display: block;
         content: '';
         -webkit-transform: rotate(-35deg);
         -moz-transform:    rotate(-35deg);
         -ms-transform:     rotate(-35deg);
         -o-transform:      rotate(-35deg);
      }
    
      &:after {
         position: absolute;
         display: block;
         color: red;
         top: 0px;
         left: -25px;
         width: 0px;
         height: 0px;
         border-right: 25px solid transparent;
         border-bottom: 17px solid #F8CD13;
         border-left: 25px solid transparent;
         -webkit-transform: rotate(-70deg);
         -moz-transform:    rotate(-70deg);
         -ms-transform:     rotate(-70deg);
         -o-transform:      rotate(-70deg);
         content: '';
      }
    }
    
    .light {
      height: 5px;
      width: 3px;
      border-radius: 50% 50% 50% 50% / 70% 70% 30% 30%;
      //==== Layer 1
      &:nth-of-type(1) {
        top: 40px;
        left: 194px;
      }
      
      &:nth-of-type(2) {
        top: 72px;
        left: 178px;
      }
      
      &:nth-of-type(3) {
        top: 88px;
        left: 148px;
      }
      
      &:nth-of-type(4) {
        top: 80px;
        left: 216px;
      }
      //==== Layer 2
      &:nth-of-type(5) {
        top: 120px;
        left: 220px;
      }
      
      &:nth-of-type(6) {
        top: 144px;
        left: 246px;
      }
      
      &:nth-of-type(7) {
        top: 120px;
        left: 170px;
      }
      
      &:nth-of-type(8) {
        top: 130px;
        left: 132px;
      }
      
      &:nth-of-type(9) {
        top: 146px;
        left: 190px;
      }
      //==== Layer 3
      &:nth-of-type(10) {
        top: 180px;
        left: 220px;
      }
      
      &:nth-of-type(11) {
        top: 196px;
        left: 262px;
      }
      
      &:nth-of-type(12) {
        top: 176px;
        left: 150px;
      }
      
      &:nth-of-type(13) {
        top: 196px;
        left: 110px;
      }
      
      &:nth-of-type(14) {
        top: 210px;
        left: 170px;
      }
      
      &:nth-of-type(15) {
        top: 218px;
        left: 220px;
      }
      //==== Layer 4
      &:nth-of-type(16) {
        top: 250px;
        left: 190px;
      }
      
      &:nth-of-type(17) {
        top: 240px;
        left: 260px;
      }
      
      &:nth-of-type(18) {
        top: 268px;
        left: 290px;
      }
      
      &:nth-of-type(19) {
        top: 270px;
        left: 230px;
      }
      
      &:nth-of-type(20) {
        top: 276px;
        left: 150px;
      }
      
      &:nth-of-type(21) {
        top: 240px;
        left: 120px;
      }
      
      &:nth-of-type(22) {
        top: 266px;
        left: 84px;
      }
      //==== Layer 4
      &:nth-of-type(23) {
        top: 316px;
        left: 60px;
      }
      
      &:nth-of-type(24) {
        top: 300px;
        left: 106px;
      }
      
      &:nth-of-type(25) {
        top: 334px;
        left: 130px;
      }
      
      &:nth-of-type(26) {
        top: 314px;
        left: 176px;
      }
      
      &:nth-of-type(27) {
        top: 336px;
        left: 216px;
      }
      
      &:nth-of-type(28) {
        top: 310px;
        left: 250px;
      }
      
      &:nth-of-type(29) {
        top: 310px;
        left: 300px;
      }
      
      &:nth-of-type(30) {
        top: 338px;
        left: 280px;
      }
    }
  }
  
  .shadow {
    @include border-radius(50%);
    position: absolute;
		bottom: 20px;
		left: calc(50% - 80px);
		height: 0;
		z-index: -1;
		width: 160px;
		@include box-shadow( 0 0px 80px 30px rgba(#000000, 0.3));
    background: transparent;
  }
}


.star ~ .light {
  background: $light-color;
}



$colors: #d83636, #d87f36, #EAE486, #4dd836, #36d8c3, #36b8d8, #3658d8, #7736d8, #c736d8, #d8368a;
$repeat: 30; /* Number of lights */

@for $i from 1 through $repeat {
  $color1: nth($colors, random(length($colors)));
  $color2: nth($colors, random(length($colors)));
  $color3: nth($colors, random(length($colors)));

  @include keyframes(lights-colors-#{$i}) {
    0%, 32%, 100% {
      background: $color1;
      box-shadow: 0 0 22px 5px rgba($color1, 0.6);
    }
    33%, 65% {
      background: $color2;
      box-shadow: 0 0 22px 5px rgba($color2, 0.6);
    }
    66%, 99% {
      background: $color3;
      box-shadow: 0 0 22px 5px rgba($color3, 0.6);
    }
  }

  @include keyframes(lights-glint-#{$i}) {
    0%, 32%, 100% {
      background-image: linear-gradient(to right, rgba($color1, 0), rgba($color1, 0.3), rgba($color1, 0));
    }
    33%, 65% {
      background-image: linear-gradient(to right, rgba($color2, 0), rgba($color2, 0.3), rgba($color2, 0));
    }
    66%, 99% {
      background-image: linear-gradient(to right, rgba($color3, 0), rgba($color3, 0.3), rgba($color3, 0));
    }
  }

  span.light:nth-child(#{length($colors)}n+#{$i}) {
    background: nth($colors, random(length($colors)));
    @include animation(lights-colors-#{$i} 3s infinite);

    &:before {
      content: "";
      position: absolute;
      top: -13px;
      left: 2px;
      height: 30px;
      width: 1px;
      @include transform(rotate(32deg));
      @include animation(lights-glint-#{$i} 3s infinite);
    }
  }
}

/* -------- Glitter --------- */

.glitter {
  position: absolute;
  width: 1px;
  height: 1px;
  background: transparent;

  &:before {
    content: "";
    position: absolute;
    top: 100px;
    width: 1px;
    height: 1px;
    background: transparent;
  }

  &:after {
    content: "";
    position: absolute;
    left: 100px;
    width: 1px;
    height: 1px;
    background: transparent;
  }
}

@function multiple-box-shadow ($n) {
	$value: '#{random(1000)}px #{random(1000)}px #A1B8D0';
	@for $i from 2 through $n {
		$value: '#{$value} , #{random(1000)}px #{random(1000)}px #A1B8D0';
	}
	@return unquote($value);
}

$n: 31;
@for $i from 1 to $n {
  $random-percentage: (($i - 1) / $n) * 90 + 5;
  $random-percentage--before: $random-percentage - 5;
  $random-percentage--after: $random-percentage + 5;
  
  $diamond: multiple-box-shadow(200);
	
  @include keyframes(glitter-#{$i}) {
    0%, 100%, #{$random-percentage--before}%, #{$random-percentage--after}% {
      opacity: 0;
    }
    #{$random-percentage}% {
      opacity: 1;
    }
  }

  .glitter_#{$i} {
    @include animation(glitter-#{$i} 10s infinite);
    box-shadow: $diamond;

    &:before {
      @include animation(glitter-#{$i} 8s infinite);
      box-shadow: $diamond;
    }

    &:after {
      @include animation(glitter-#{$i} 9s infinite);
      box-shadow: $diamond;
    }
  }
}
